body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

nav {
    display: flex;
    height: 12vh;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    left: 10vw;
}

.logo img {
    height: 50px;
    width: 190px;
    z-index: 1;
}

.bg {
    height: 100%;
    width: 100%;
    
    background-position: center center;
    position: absolute;
    background-image: linear-gradient(12deg, rgba(0, 0, 0, 0.8500) 36.00%, rgba(0, 0, 0, 0.8465) 40.58%, rgba(0, 0, 0, 0.8361) 45.17%, rgba(0, 0, 0, 0.8187) 49.75%, rgba(0, 0, 0, 0.7944) 54.33%, rgba(0, 0, 0, 0.7632) 58.92%, rgba(0, 0, 0, 0.7250) 63.50%, rgba(0, 0, 0, 0.6868) 68.08%, rgba(0, 0, 0, 0.6556) 72.67%, rgba(0, 0, 0, 0.6313) 77.25%, rgba(0, 0, 0, 0.6139) 81.83%, rgba(0, 0, 0, 0.6035) 86.42%, rgba(0, 0, 0, 0.6000) 91.00%),url("bg\ image.jpeg");
    
    object-fit: cover;
    object-position: center;
}

.content {
    color: white;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 40%;
   
    left:30%;
    text-align: center;
    
    font-family:unset;
}

.input,.sidenav{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap:5px;
}

.sidenav{
    gap:10px;
}

.input button {
    background-color: red;
    color: white;
    border: none;
    font-size:28px;
    font-weight:600;
    padding: 16px 20px;
    
    border-radius: 3.5px;
    cursor: pointer;
}
.eng{
    font-size:20px;
    padding:10px 20px;
    color:white;
    background-color:rgba(0, 0, 0, 0.411);
    border: 1px solid rgb(151, 148, 148);
    border-radius:5px;
}
.sign{
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size:20px;
    font-weight:700;
    border:none;
    border-radius: 6px;
}

.content h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 70px;
    font-weight: 800;
    line-height:125%;
    margin-bottom:17px;
}

div>span:nth-child(2) {
    font-weight: 650;
    font-size: 25px;
    margin-bottom: 40px;
}

div>span:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 17px;
}

input {
    width: 22vw;
    height: 60px;
    border-radius: 3.5px;
    padding-left: 10px;
    font-size: 15px;
    margin-right:5px;
    color: black;
    background-color: rgba(0, 0, 0, 0.411);
    border: .5px solid rgb(151, 148, 148);
    
}
input:focus{
    outline: 2px solid white;
    border: .5px solid rgb(151, 148, 148);;
    outline-offset: 3px;  
}



